<div class="app-container">
  <h1 class="title">We're launching soon</h1>
  <div class="countdown-container">
    <app-time-block name="Days" [time]="days"></app-time-block>
    <app-time-block name="Hours" [time]="hours"></app-time-block>
    <app-time-block name="Minutes" [time]="minutes"></app-time-block>
    <app-time-block name="Seconds" [time]="seconds"></app-time-block>
  </div>
  <div class="social-networks">
    <img src="../assets/images/icon-facebook.svg" alt="Facebook" />
    <img src="../assets/images/icon-pinterest.svg" alt="Pinterest" />
    <img src="../assets/images/icon-instagram.svg" alt="Instagram" />
  </div>
  <img
    src="../assets/images/pattern-hills.svg"
    alt="Pattern hills"
    class="pattern-hills"
  />
</div>
